{% extends 'base_login.html' %}

{% block titulo %} Login {% endblock %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Bienvenido de nuevo!</h1>
            </div>
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="id_username" name="username"
                        placeholder="Nombre de usuario...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="id_password" name="password"
                        placeholder="Contraseña...">
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recuerdame</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Login
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'password_reset' %}">¿Has olvidado tu contraseña?</a>
            </div>
            <div class="text-center">
                <a class="small" href="register.html">¡Crear una cuenta!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}