{% extends "base_general.html" %}
{% load static %}
{% block titulo %} SGI - Inicio {% endblock %}
{% block contenido %}

{% if user.is_authenticated %}
{% if user.is_superuser %}
<table>
    <tr>
        <td>
            <img
                    class="img-profile rounded-circle"
                    src="{% static 'img/undraw_profile.svg' %}"
                    width="128px"
            />
        </td>
        <td>
            <h1>Bienvenido, admin.</h1>
        </td>
    </tr>
</table>
{% else %}
<h1>Hola eres VENDEDOR</h1>
{% endif %}

<br><a href="{% url 'password_change' %}">Cambiar Contraseña</a>

{% else %}

<p>No has iniciado sesión</p>
<a href="{% url 'login' %}">Iniciar sesión</a>

{% endif %}

{% endblock %}
